* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: lightgray;
    font-family: poppins,sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.card {
  width: 250px;
  -webkit-box-shadow: 7px 9px 8px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 7px 9px 8px 0px rgba(0, 0, 0, 0.39);
  margin-left: 200px;
  margin-top: 200px;
}

.hover:hover{
  
    transform: rotate(5deg);
   
}

.card_body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
}
.card_title {
  font-size: 30px;
  padding-bottom: 10px;
}

.card_content p{
    font-size: 18px;
    padding:5px;
}

.card_img img {
  border-radius: 5px 5px 0 0;
 
}
.card_img{
  height: 250px;
}
.lundi{
  background: url(/img/Its-Monday-Lets-Do-This.png)no-repeat;
  height: 250px;
  background-position: center;
  background-size: contain;
}

.mardi{
  background: url(/img/tuesday.jpg)no-repeat;
  height: 250px;
  background-position:center;
  background-size: cover;
}

.mercredi{
  background:url(/img/Wednesday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.jeudi{
  background:url(/img/Thursday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.vendredi{
  background:url(/img/Friday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.samedi{
  background:url(/img/Saturday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.dimanche{
  background:url(/img/Sunday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}



.card_time{
    font-size: 15px;
    font-weight: bold;
}
