                        /* General settings */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgba(65, 56, 56, 0.603);
    font-family: poppins,sans-serif; 
}
h2{
  font-size: 35px;
  text-align: center;
  padding-bottom: 50px;
  color: rgb(226, 207, 207);
  text-decoration: underline;
}
h3{
  font-size: 100px
}
                      /* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


          /* Header */
.header{
  margin: 0 auto;
  width: 80%;

}
.main_title{
  font-size: 50px;
  text-align: center;
  margin:50px;
  padding: 30px;
  color:rgb(226, 207, 207);
  border: 1px solid black;
  border-radius: 10px;
}          


            /* Card general Settings */



.card {
  width: 250px;
  -webkit-box-shadow: 7px 9px 8px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 7px 9px 8px 0px rgba(0, 0, 0, 0.39);
  margin-bottom: 30px;
  background-color: rgba(243, 236, 236, 0.692);
  
 
}

.hover:hover{
  
    transform: rotate(5deg);
   
}

.card_body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
 
  
  
}
.card_title {
  font-size: 30px;
  padding-bottom: 10px;
}

.card_content p{
    font-size: 18px;
    padding:5px;
}

.card_img img {
  border-radius: 5px 5px 0 0;
 
}
.card_img{
  height: 250px;
}
.card_time{
  font-size: 15px;
  font-weight: bold;
}

.card_container{
width: 65%;
margin: 20px auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}

          /* Cards Day by Day */
.lundi{
  background: url(/img/Its-Monday-Lets-Do-This.png)no-repeat;
  height: 250px;
  background-position: center;
  background-size: contain;
}

.mardi{
  background: url(/img/tuesday.jpg)no-repeat;
  height: 250px;
  background-position:center;
  background-size: cover;
}

.mercredi{
  background:url(/img/Wednesday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.jeudi{
  background:url(/img/Thursday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.vendredi{
  background:url(/img/Friday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.samedi{
  background:url(/img/Saturday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.dimanche{
  background:url(/img/Sunday.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}


              /* Projets soutenances */
.projet1{
  background:url(/img/projet1.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.projet2{
  background:url(/img/projet2.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.projet3{
  background:url(/img/projet3.png)no-repeat;
  background-position:center ;
  background-size: cover;
}

.projet4{
  background:url(/img/projet4.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}

.projet5{
  background:url(/img/projet5.png)no-repeat;
  background-position:center ;
  background-size: cover;
}

.projet6{
  background:url(/img/projet6.png)no-repeat;
  background-position:center ;
  background-size: cover;
}

.projet7{
  background:url(/img/Projet7.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
}
